<!-- <p>
  gallery works!
</p> -->



<div id="gallery_heading">
  <div id="heading">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading-content">
                    <h2 id="gallerylink">Gallery</h2>
                    
                </div>
            </div>
        </div>
    </div>
  </div>
  
  
  <div id="products-post">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading-section">
                    <h2>Yummy Pizzas</h2>
                    <img src="../../assets/images/under-heading.png" alt="" >
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-3 col-sm-6 mix portfolio-item Pizza">       
                <div class="portfolio-wrapper">                
                    <div class="portfolio-thumb">
                        <img src="../../assets/images/pizza8s.jpg" alt="" />
                        <div class="hover">
                            <div class="hover-iner">
                                <a class="fancybox" href="../../assets/images/pizza8b.jpg">
                                  <img src="../../assets/images/open-icon.png" alt="" /></a>
                                <span>Pizza</span>
                            </div>
                        </div>
                    </div>  
                    <div class="label-text">
                        <h3><a href="single-post.html"></a></h3>
                        <br>
                    </div>
                </div>          
            </div>
            <div class="col-md-3 col-sm-6 mix portfolio-item Pizza">       
                <div class="portfolio-wrapper">                
                    <div class="portfolio-thumb">
                        <img src="../../assets/images/pizza9s.jpg" alt="" />
                        <div class="hover">
                            <div class="hover-iner">
                                <a class="fancybox" href="../../assets/images/pizza9b.jpg">
                                  <img src="../../assets/images/open-icon.png" alt="" /></a>
                                <span>Pizza</span>
                            </div>
                        </div>
                    </div>  
                    <div class="label-text">
                        <h3><a href="single-post.html"></a></h3>
                        <br>
                    </div>
                </div>          
            </div>
            <div class="col-md-3 col-sm-6 mix portfolio-item Pizza">       
                <div class="portfolio-wrapper">                
                    <div class="portfolio-thumb">
                        <img src="../../assets/images/pizza11s.jpg" alt="" />
                        <div class="hover">
                            <div class="hover-iner">
                                <a class="fancybox" href="../../assets/images/pizza11b.jpg">
                                  <img src="../../assets/images/open-icon.png" alt="" /></a>
                                <span>Pizza</span>
                            </div>
                        </div>
                    </div>  
                    <div class="label-text">
                        <h3><a href="single-post.html"></a></h3>
                        <br>
                    </div>
                </div>          
            </div>
            <div class="col-md-3 col-sm-6 mix portfolio-item Pizza">       
                <div class="portfolio-wrapper">                
                    <div class="portfolio-thumb">
                        <img src="../../assets/images/pizza13s.jpg" alt="" />
                        <div class="hover">
                            <div class="hover-iner">
                                <a class="fancybox" href="../../assets/images/pizza13b.jpg">
                                  <img src="../../assets/images/open-icon.png" alt="" /></a>
                                <span>Pizza</span>
                            </div>
                        </div>
                    </div>  
                    <div class="label-text">
                        <h3><a href="single-post.html"></a></h3>
                        <br>
                    </div>
                </div>          
            </div>
            <div class="col-md-3 col-sm-6 mix portfolio-item Pizza">       
                <div class="portfolio-wrapper">                
                    <div class="portfolio-thumb">
                        <img src="../../assets/images/pizza14s.jpg" alt="" />
                        <div class="hover">
                            <div class="hover-iner">
                                <a class="fancybox" href="../../assets/images/pizza14b.jpg">
                                  <img src="../../assets/images/open-icon.png" alt="" /></a>
                                <span>Pizza</span>
                            </div>
                        </div>
                    </div>  
                    <div class="label-text">
                        <h3><a href="single-post.html"></a></h3>
                        <br>
                    </div>
                </div>          
            </div>
            <div class="col-md-3 col-sm-6 mix portfolio-item Pizza">       
                <div class="portfolio-wrapper">                
                    <div class="portfolio-thumb">
                        <img src="../../assets/images/pizza3s.jpg" alt="" />
                        <div class="hover">
                            <div class="hover-iner">
                                <a class="fancybox" href="../../assets/images/pizza3b.jpg">
                                  <img src="../../assets/images/open-icon.png" alt="" /></a>
                                <span>Pizza</span>
                            </div>
                        </div>
                    </div>  
                    <div class="label-text">
                        <h3><a href="single-post.html"></a></h3>
                        <br>
                    </div>
                </div>          
            </div>
            <div class="col-md-3 col-sm-6 mix portfolio-item Pizza">       
                <div class="portfolio-wrapper">                
                    <div class="portfolio-thumb">
                        <img src="../../assets/images/pizza1s.jpg" alt="" />
                        <div class="hover">
                            <div class="hover-iner">
                                <a class="fancybox" href="../../assets/images/pizza1b.jpg">
                                  <img src="../../assets/images/open-icon.png" alt="" /></a>
                                <span>Pizza</span>
                            </div>
                        </div>
                    </div>  
                    <div class="label-text">
                        <h3><a href="single-post.html"></a></h3>
                        <br>
                    </div>
                </div>          
            </div>
            <div class="col-md-3 col-sm-6 mix portfolio-item Pizza">       
                <div class="portfolio-wrapper">                
                    <div class="portfolio-thumb">
                        <img src="../../assets/images/pizza7s.jpg" alt="" />
                        <div class="hover">
                            <div class="hover-iner">
                                <a class="fancybox" href="../../assets/images/pizza7b.jpg">
                                  <img src="../../assets/images/open-icon.png" alt="" /></a>
                                <span>Pizza</span>
                            </div>
                        </div>
                    </div>  
                    <div class="label-text">
                        <h3><a href="single-post.html"></a></h3>
                        <br>
                    </div>
                </div>          
            </div>
  
        </div>
        <br>
    </div>
  </div>
  </div>
  