<!-- The content below is only a placeholder and can be replaced.
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul> -->
<head>
  <script src="js/vendor/modernizr-2.6.1-respond-1.1.0.min.js"></script>
</head>


<div>
  <div id="top_bar">
      <div class="container">
          <div class="row">
              <div class="col-md-6">
                  <div class="home_account">
                      <li><a href="login.html" routerLink="/login" routerLinkActive="active">Login</a></li>
                      <li><a href="register.html" class="register" routerLink="/register" routerLinkActive="active">Register</a></li>
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="cart">
                      <i class="fa fa-shopping-cart"></i>
                      (<a href="#">0 items</a>) in your cart (<a href="#">Rs. 0/-</a>)
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div id="main-header">
          <div class="container">
              <div class="row">
                  <div class="col-md-4">
                      <div class="logo">
                          <a href="home.html"><img src="../assets/images/logo3.jpg" title="PizzaTown Website" alt="Pizza Web Logo" ></a>
                      </div>
                  </div>

                  <div class="col-md-8">
                      <div class="nav_bar">
                          <ul>
                              <div id="iefix">
                                  <li><a href="home.html" routerLink="/home" routerLinkActive="active">Home</a></li>
                                  <li><a href="gallery.html" routerLink="/gallery" routerLinkActive="active" >Gallery</a></li>  
                                  <li><a href="team.html" routerLink="/team" routerLinkActive="active">Team</a></li>
                                  <li><a href="contactus.html" routerLink="/contactus" routerLinkActive="active">Contact</a></li>
                                  <li><a href="pizzahouses.html" routerLink="/pizzahouses" routerLinkActive="active">Pizza Houses</a></li>
                                  <!-- <li class="">
                                      <div class="dropdown">
                                          <ul class="dropdown_btn">Pizza houses</ul>
                                          <div class="dropdown-content">
                                              <a href="pizzahut.html" routerLink="/pizzahut" routerLinkActive="active">Pizza Hut</a>
                                              <a href="pizzamax.html" routerLink="/pizzamax" routerLinkActive="active">Pizza Max</a>
                                              <a href="california.html" routerLink="/california" routerLinkActive="active">California</a>      
                                          </div>
                                      </div>
                                  </li>       -->
                              </div>
                          </ul>
                      </div>
                  </div>
                  
              </div>
          </div>
      </div>
    </div>
    <br> <br>
    <div class="container">
        <router-outlet>
                
        </router-outlet>
    </div>
    
    
    <div id="footer">
      <div class="container">
          <div class="footer_social_icons">
              <h4>Follow Us</h4>
              <div class="social-agile">
                  <ul>
                      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                      <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                  </ul>
              </div>
          </div>
          <div class="footer_copyright">
              <p>© 2017 Pizza Town. All rights reserved</p>
          </div>
      </div>
    </div>


        <script src="js/vendor/jquery-1.11.0.min.js"></script>
        <script src="js/vendor/jquery.gmap3.min.js"></script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>

        
