<!-- <p>
  pizzahouses works!
</p> -->


<div id="PageName">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="heading-content">
                  <h2>Pizza Houses</h2>
              </div>
          </div>
      </div>
  </div>
</div>

    <br><br>
            <button (click)='getAdmin()' class="btn btn-primary">Get Admin Data</button><br>
            <button (click)='addUser()' class="btn btn-primary">Add User</button><br>
            <button (click)='getUser()' class="btn btn-primary">Get User</button><br>
            <button (click)='deleteUser()' class="btn btn-primary">delete User</button><br>
    <br><br>