<!-- <p>
  team works!
</p> -->


<div id="team_heading">
  <div id="heading" class="teamheading">
          <div class="container"  >
              <div class="row">
                  <div class="col-md-12">
                      <div class="heading-content">
                          <h2 id="teamlink">Team</h2>
                      </div>
                  </div>
              </div>
          </div>
      </div>
<div id="team">
<div class="container">
  <div class="row">
      <div class="col-md-12">
          <div class="heading-section">
              <h2>Group Members</h2>
              <img src="../../assets/images/under-heading.png" alt="" >
          </div>
      </div>
  </div>
  <div class="team_members">
      <div class="row">

          <div class="col-md-3 col-sm-6">
              <div class="team-thumb">
                  <div class="member">
                      <img src="../../assets/images/member1.jpg" alt="Mary - templatemo">
                  </div>
                  <div class="overlay">
                      <div class="member-caption">
                          <ul>
                              <li><a href="#" class="fb"><i class="fa fa-facebook"></i></a></li>
                              <li><a href="#" class="tw"><i class="fa fa-twitter"></i></a></li>
                              <li><a href="#" class="gp"><i class="fa fa-google-plus"></i></a></li>
                          </ul>
                       </div>
                   </div>
               </div>
               <div class="member-details">
                   <h2>Narmeen Fareed</h2>
                   <span>Designer</span>
               </div>
          </div>
          <div class="col-md-3 col-sm-6">
              <div class="team-thumb">
                  <div class="member">
                      <img src="../../assets/images/member20.jpg" alt="Julia - templatemo">
                  </div>
                  <div class="overlay">
                      <div class="member-caption">
                          <ul>
                                  <li><a href="#" class="fb"><i class="fa fa-facebook"></i></a></li>
                                  <li><a href="#" class="tw"><i class="fa fa-twitter"></i></a></li>
                                  <li><a href="#" class="gp"><i class="fa fa-google-plus"></i></a></li>
                          </ul>
                       </div>
                   </div>
               </div>
               <div class="member-details">
                   <h2>M.Zeeshan Ismail</h2>
                   <span>Developer</span>
               </div>
          </div>
          
      </div>
  </div>
  <br><br>
</div>
</div>
</div>