<head><script src="../js/vendor/modernizr-2.6.1-respond-1.1.0.min.js"></script></head>


<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div id="slider">
                    <div class="slider_heading">
                            <h1>WELCOME TO PIZZA TOWN</h1>
                            <p>Here you can order Fresh and Delicious pizza from your favourite Pizza resturants. </p>
                            <a href="order.html" routerLink="/order" routerLinkActive="active">Order Now</a>
                        </div>
            <img src="../../assets/images/slider1.jpg" alt="pizza image">
        </div>
        <br>
        </div>
    </div>
</div>


<!-- <div id="header_slider">
        <div id="slider">
          <div class="flexslider">
            <ul class="slides">
              <li>
                  <div class="slider_heading">
                      <h1>WELCOME TO PIZZA TOWN</h1>
                      <p>Here you can order Fresh and Delicious pizza from your favourite Pizza resturants. </p>
                      <a href="order.html">Order Now</a>
                  </div>
                <img src="../../assets/images/slider01.jpg" alt="" />
              </li>
              <li>
                  <div class="slider_heading">
                      <h1>WELCOME TO PIZZA TOWN</h1>
                      <p>You can select your area, You can select your favourite Pizza flavour. You can also
                          <br><br> select quantity of pizzas that you want to order.
                      </p>
                      <a href="order.html">Order Now</a>
                  </div>
                <img src="../../assets/images/slider2.jpg" alt="" />
              </li>
              <li>
                  <div class="slider_heading">
                      <h1>WELCOME TO PIZZA TOWN</h1>
                      <p>Review our website for more details. </p>
                      <p>you can LogIn and Order.</p>
                      <a href="order.html">Order Now</a>
                  </div>
                <img src="../../assets/images/slider3.jpg" alt="" />
              </li>
            </ul>
          </div>
        </div>
        </div> -->